---
import Layout from '../components/Layout.astro';
---

<Layout title="Alternative Survey Format">
  <div class="max-w-4xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-bold text-gray-900 font-cooper-hewitt uppercase mb-4">
      Alternative Survey Format
    </h1>
    <p class="text-lg text-gray-600 mb-8">
      Coming soon - Typeform-style survey interface exploring conversational data collection.
    </p>
  </div>
</Layout>